.cart-panel {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      z-index: 99;

      .opac-layer {
            background-color: rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
      }

      .cart-content {
            overflow: scroll;
            width: 34vw;
            height: 100%;
            display: flex;
            background-color: white;
            position: relative;
            z-index: 1;
            flex-direction: column;
            transform: translate(100%);
            animation: slideCartWindow 0.3s ease-in-out forwards;

            .cart-header {
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  padding: 1.5rem 1rem;
                  border-bottom: 2px solid rgba(0, 0, 0, 0.2);

                  .heading {
                        flex-grow: 1;
                        font-weight: 700;
                  }

                  .close-btn {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        cursor: pointer;

                        svg {
                              font-size: 18px;
                        }

                        &:hover {
                              opacity: 0.6;
                        }
                  }
            }

            .empty-cart {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 1rem;
                  margin-top: 5rem;

                  svg {
                        opacity: 0.1;
                        font-size: 10rem;
                  }

                  .return-btn {
                        outline: 0;
                        border: 0;
                        height: 5vh;
                        width: 10vw;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        background-color: rgb(198, 165, 229);
                  }
            }

            .cart-footer {
                  border-top: 1px solid rgba(0, 0, 0, 0.2);

                  .subtotal {
                        padding: 1.5rem 1.2rem;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                        display: flex;
                        justify-content: space-between;

                        .text-total {
                              color: rgb(131, 43, 212);
                        }
                  }

                  .button {
                        padding: 1.5rem 1.2rem;
                        display: grid;
                        place-items: center;

                        .checkout-cta {
                              outline: 0;
                              border: 0;
                              height: 5vh;
                              width: 15vw;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              cursor: pointer;
                              background-color: rgb(198, 165, 229);

                        }
                  }
            }
      }
}

@keyframes slideCartWindow {
      0% {
            transform: translate(100%);
      }

      100% {
            transform: translate(0%);
      }
}