.productsContainer {
      width: 100%;
      /* padding: 1rem 5rem; */
      .secHeading {
            margin: 1.5rem 0rem;

            &::after {
                  content: "";
                  display: block;
                  top: 1rem;
                  width: 12%;
                  height: 2px;
                  background-color: red;
            }
      }

      .products {
            justify-content: center;
            align-items: center;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 3rem;
      }
}