.productCard{
      width: 100%; 
      .thumbnail{
            width: calc(100% - 2px);
            margin: 1rem 0rem; 
            img{
                  max-width: 12vw;
                  transition: all  0.3s linear;
                  cursor: pointer;
            }
      }
      .prodDetails{
            .name{
                  display: block;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
            }
            
      }
}