.newsletter-section {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    background: url("../../../assets/Images/edit1.png");
    background-repeat: no-repeat;
    background-size: cover;

    .newsletter-content {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        gap: 1rem;

        .small-text {
            font-weight: 600;
        }

        .big-text {
            font-size: 1rem;
        }

        .form {
            display: flex;
            gap: 0.4rem;

            input {
                width: 100%;
                border-radius: 1rem;
                border: 2px solid black;
                padding: 0.1rem 2rem;
                outline: none;
            }

            button {
                outline: 0;
                border-radius: 1rem;
                border: 2px solid black;
                padding: 0.4rem 0.8rem;
                cursor: pointer;
                transition: all 0.2s linear;
                font-weight: 500;
                &:hover {
                    background-color: var(--black-color);
                    color: var(--white-color);
                    font-weight: 600;
                }
            }

        }
        .social-icons{
            display: flex;
            gap: 1rem;
            .icon{
                background-color: var(--black-color);
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.4rem;
                border-radius: 1rem;
                cursor: pointer;
            }
        }
    }
}