.hero-banner {
  padding: 0.1rem 0rem;
  position: relative;
  background-image: url(../../../assets/Images/p9.jpg);
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-content {
  position: absolute;
  top: 5rem;
  color: var(--white-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;

  /* .Main-Button {
    display: flex;
    gap: 0.5rem; */

    /* .button {
      background-color: var(--white-color);
      color: var(--black-color);
      padding: 1rem;
      transition: all 0.3s linear;
      border-radius: 2rem;
      cursor: pointer;

      &:hover {
        background-color: var(--black-color);
        color: var(--white-color);
      }
    } */
  /* } */

  p {
    line-height: 1.6rem;
    max-width: 100vw;
    padding: 0.1rem 3rem;
    margin-bottom: 1rem;
  }
}