.shopbycategory {
      width: 100%;
      .categories {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

            .category {
                  cursor: pointer;
                  overflow: hidden;
                  max-width: calc(100% - 1vw);

                  img {
                        max-width: 16vw;
                        transition: all 0.2s ease-in-out linear;

                        &:hover {
                              transform: scale(1.1);
                        }
                  }
            }
      }
}