.shopbycategory {
      width: 100%;
      .categories {
            

            .category {
                  cursor: pointer;
                  overflow: hidden;
                  max-width: calc(100% - 5px);
                  

                  img {
                        max-width: 14vw;
                        transition: all 0.2s ease-in-out linear;

                        &:hover {
                              transform: scale(1.1);
                        }
                  }
            }
      }
}