@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Urbanist", sans-serif;
}

.Main-Button {
  display: flex;
  gap: 0.5rem;

  .button {
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 1rem;
    transition: all 0.3s linear;
    border-radius: 2rem;
    cursor: pointer;

    &:hover {
      background-color: var(--black-color);
      color: var(--white-color);
    }
  }
}

a {
  text-decoration: none;
  color: var(--white-color);
  transition: all 0.3s linear;
  position: relative;
}

a::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: red;
  transition: all 0.3s linear;
}

a:hover {
  color: var(--red-color);
  font-weight: bold;
}

a:hover::after {
  width: 90%;
}

li {
  list-style: none;
}

body {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 22px;
  font-weight: 500;
}

:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --red-color: #ff0000;
  --blue-color: #9ef4ef;
  --main-black-color: #000000;
  --main-white-color: #ffffff;
  --main-blue-color: rgb(98, 196, 235);
  --main-dark-blue-color: blue;
  --main-lite-green-color: rgb(127, 205, 180);
  --main-red-color: rgb(248, 6, 6);
  --main-shadow-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 280px) {}

@media (max-width: 400px) {}

@media (max-width: 540px) {
  .main-header .header-content .left li {
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    display: none;
  }

  .center {
    margin-left: -5rem;
    font-size: 1rem;
  }

  .right {
    margin-left: 10px;
    gap: 0.5rem;
  }

}

@media (max-width: 640px) {
  .main-header .header-content .left li {
    font-size: 0.8rem;
    font-weight: 500;

    display: none;
  }

}

@media (max-width: 740px) {
  .left {
    gap: 0.1rem;
  }
}

@media (max-width: 980px) {}

@media (max-width: 1220px) {
  .header-content {
    padding: 0.4rem 1rem;
  }
}

.home {
  height: 100vh;
}

.quantity-button {
  display: flex;
  margin-right: 1rem;
  width: fit-content;

  span {
    width: 2vw;
    height: 5vh;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.2);

    &:nth-child(1) {
      border-right: 2px solid rgba(0, 0, 0, 0.2);
    }

    &:nth-child(2) {
      width: 3vw;

    }
  }
}